body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: #000000;
}

header .logo {
  font-size: 1.5rem;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  margin-left: 1rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: #fff;
}

section#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

section#hero .hero-text {
  text-align: center;
  color: #000;
  font-size: 2rem;
  margin-top: 2rem;
}
